<div id="select-user-container">
  <div id="selection">
    <h3>Användare</h3>
    <div id="select-container">
      <div id="select" (click)="onClick()">
        <p>{{selectText}}</p>
        <div id="select-indicator">
          <span [ngClass]="{'arrow-one' : !showOptions, 'cross-one': showOptions}"></span>
          <span [ngClass]="{'arrow-two' : !showOptions, 'cross-two': showOptions}"></span>
        </div>
      </div>
      <div id="options">
        <app-user-option *ngFor="let user of users" [user]="user" [show]="showOptions"></app-user-option>
      </div>
    </div>
  </div>
</div>
