header {
  width: 100vw;
  height: 50px;
  position: relative;
  border: 1px solid black;
}

header .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: red;
  position: absolute;
  top: 50%;
  left: calc(10px + 25px * var(--i));
  transform: translateY(-50%);
}

header #header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}